:host {
  .admin-channel {
    max-width: 1000px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    .each-box {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 12px;
      gap: 12px;

      a {
        text-decoration: none;
      }
    }
  }
}
